@page "/login"

<section class="d-flex justify-content-center mt-5">
    <form method="post" @onsubmit="Submit" @formname="login-form" class="form mx-auto">
        <AntiforgeryToken/>
        <h2>Budget 💶</h2>
        <div asp-validation-summary="All"></div>
        <p class="form-floating">
            <InputText id="username" @bind-Value="Model!.Username" class="form-control" placeholder="Gebruikersnaam" autofocus/>
            <label for="username">Gebruikersnaam</label>
        </p>
        <p class="form-floating">
            <InputText id="password" asp-for="User.Password" class="form-control" placeholder="Wachwoord"/>
            <label for="password"></label>
        </p>
        <p>
            <button class="btn btn-primary" type="submit">Log in</button>
        </p>
    </form>
</section>

@code {
    [SupplyParameterFromForm] public LoginInfo? Model { get; set; }

    protected override void OnInitialized() => Model ??= new();

    public void Submit()
    {
        
    }

    public class LoginInfo
    {
        public string? Username { get; set; }
        public string? Password { get; set; }
    }

}