@page
@model Login

@{ViewData["Title"] = "Login";
}

<section class="d-flex justify-content-center mt-5">
    <form method="post" class="form mx-auto">
        <h2>Budget 💶</h2>
        <div asp-validation-summary="All"></div>
        <p class="form-floating">
            <input asp-for="User.Username" class="form-control" placeholder="@Html.DisplayNameFor(m => m.User.Username)" autofocus>
            <label asp-for="User.Username"></label>
        </p>
        <p class="form-floating">
            <input asp-for="User.Password" class="form-control" placeholder="@Html.DisplayNameFor(m => m.User.Password)">
            <label asp-for="User.Password"></label>
        </p>
        <p>
            <button class="btn btn-primary" type="submit">Log in</button>
        </p>
    </form>
</section>