@page
@model TwoFactorLogin

<section class="d-flex justify-content-center mt-5">
    <form class="form" method="post">
        <h2>Enter the one time code 🔐</h2>
        <div asp-validation-summary="All"></div>
        <p class="form-floating">
            <input asp-for="Code" type="text" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Code)" autofocus>
            <label asp-for="Code"></label>
        </p>
        <p class="form__actions">
            <button type="submit" class="btn btn-primary">Send</button>
        </p>
    </form>
</section>