@page "/"
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Boilerplate home!</h1>

@code {
    protected override void OnInitialized()
    {
        Navigation.NavigateTo("/transactions");
    }
}
