@using Microsoft.AspNetCore.Components.Authorization
@using Budget.App.Apis.LoginLogout
@using System.Web
@inherits LayoutComponentBase

<ErrorBoundary>
    <ChildContent>
        @Body
    </ChildContent>
    <ErrorContent>
        @{ HandleUncaughtError(@context); }
        <p>Oh nee, er is mis gegaan :(. Vraag naar mij!</p>
    </ErrorContent>
</ErrorBoundary>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>