[submodule "submodules/Hertmans.Shared"]
	path = submodules/Hertmans.Shared
	url = git@github.com:timohermans/Hertmans.Shared.git
[submodule "submodules/Budget-API"]
	path = submodules/Budget-API
	url = git@github.com:timohermans/Budget-API.git
