@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap@5.3.2.min.css" />
    <link rel="stylesheet" href="bootstrap-icons/bootstrap-icons@1.11.3.min.css">
    <link rel="stylesheet" href="app.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    
</head>

<body class="vh-100 d-flex flex-column">
    @Body
</body>

</html>
