@using Budget.App.Components.Pages
@using Microsoft.AspNetCore.Components.Forms

@layout Layout

<section class="d-flex justify-content-center mt-5">
    <form method="post" class="form mx-auto">
        <AntiforgeryToken/>
        <h2>Budget 💶</h2>
        @if (Errors.TryGetValue("summary", out var errors))
        {
            <div class="alert alert-danger">
                @string.Join(Environment.NewLine, errors)
            </div>
        }
        <div>

        </div>
        <p class="form-floating">
            <input type="text" id="username" name="username" class="form-control" placeholder="Gebruikersnaam" autofocus>
            <label>Gebruikersnaam</label>
            @if (Errors.ContainsKey(nameof(LoginModel.Username)))
            {
                <span>Dit hebben we wel nodig 😊</span>
            }
        </p>
        <p class="form-floating">
            <input type="password" id="password" name="password" class="form-control" placeholder="Wachtwoord" autofocus>
            <label>Wachtwoord</label>
            @if (Errors.ContainsKey(nameof(LoginModel.Password)))
            {
                <span>Dit hebben we wel nodig 😊</span>
            }
        </p>
        <p>
            <button class="btn btn-primary" type="submit">Log in</button>
        </p>
    </form>
</section>

@code {
    [Parameter] public IDictionary<string, string[]> Errors { get; set; } = new Dictionary<string, string[]>();
}