@inherits LayoutComponentBase

<!DOCTYPE html>
<html class="h-100" lang="en-us">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["lib/bootstrap@5.3.8/bootstrap.min.css"]"/>
    <link rel="stylesheet" href="@Assets["css/app.css"]"/>
    <link href="Budget.Web.styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <script src="@Assets["lib/bootstrap@5.3.8/bootstrap.min.js"]"></script>
    <HeadOutlet/>
</head>
<body>
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

</body>
</html>