<div class="btn-group">
    <button type="button" class="btn dropdown-toggle dropdown-toggle-no-arrow" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-three-dots-vertical"></i>
    </button>
    <ul class="dropdown-menu">
        <li>
            <button @onclick="() => OnSelected.InvokeAsync(Options.MarkAsCashback)" type="button" class="dropdown-item icon-link align-items-center">
                <div>
                    <i class="bi bi-sign-turn-left"></i>
                </div>
                <span>Als terugbetaling markeren</span>
            </button>
        </li>
    </ul>
</div>

@code {
    [Parameter] [EditorRequired] public EventCallback<Options> OnSelected { get; set; }

    public enum Options
    {
        MarkAsCashback
    }
}