@using System.Security.Claims
@using Microsoft.Identity.Web

<form>
    Hello, @User?.GetDisplayName() (
    <button type="submit" class="btn btn-link p-0">log uit</button>
    )
</form>

@code {
    [Parameter] public ClaimsPrincipal? User { get; set; }
}