@inject LinkGenerator Linker

<a href="@Linker.GetPathByName("transaction_upload")" class="btn btn-primary fs-4">
    <i class="bi bi-cloud-arrow-up"></i>
    <span class="visually-hidden">Upload transactions</span>
</a>
