<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="icon" href="images/money-up-favicon.png">
    <link rel="stylesheet" href="lib/bootstrap/bootstrap@5.3.2.min.css"/>
    <link rel="stylesheet" href="lib/bootstrap-icons/bootstrap-icons@1.11.3.min.css">
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="Budget.App.styles.css"/>

    <HeadOutlet @rendermode="InteractiveServer"/>

    <script defer src="lib/bootstrap/bootstrap@5.3.2.bundle.min.js"></script>
</head>

<body>
<Routes @rendermode="InteractiveServer"/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>
